# dependencia de projeto
Django==5.0.4
djangorestframework==3.15.1
django-cors-headers==4.3.1
pillow==10.4.0

# dependencia de ambiente
python-decouple==3.8

# dependencia de login
djangorestframework-simplejwt==5.3.1

# dependencia de documentacao
drf-spectacular==0.27.2

#cobertura
coverage==7.6.0

# dependencia de teste
Faker==26.0.0